:root {
    --background-color: #F1F1F1;
    --purple: #5A45FF;
    --navbar-bacground-color: #F3F0FF;
    --box-background-color: #FFFFFF;
    --link-color: rgb(49, 103, 240);
}

* {
    padding: 0;
    margin: 0;
    font-family: Source Sans Pro, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: #2c3e50;
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
    line-height: 1.6;
}

nav {
    height: 70px;
    width: 100%;
    background-color: var(--navbar-bacground-color);
    border-bottom: 2px solid var(--purple);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-arrow-left {
    text-align: left;
    font-size: 1.7rem;
    position: relative;
    left: 20px;
}

nav h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px;
    column-gap: 30px;
}

.box {
    background-color: var(--box-background-color);
    min-height: 49vh;
    border-radius: 3px;
    padding: 20px;
}

p {
    font-size: 1.2rem;
}

.box a {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
}

.box a:hover {
    text-decoration: underline;
}

.center-imgs {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.imgs img {
    height: 150px;
    width: auto;
    transition: all 0.4s ease-in-out;
}
img:hover {
    cursor: pointer;
    transform: scale(1.08);
}

#info-box-container {
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.info-box {
    background-color: var(--navbar-bacground-color);
    border: 1px solid var(--purple);
    border-radius: 3px;
    opacity: 85%;
    padding-top: 15px;
    padding: 20px;
    max-height: 40px;
    overflow-y: hidden;
    transition: all 0.4s ease-in-out;
}

.info-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
    top: -10px;
}

.info-box:hover {
    cursor: pointer;
}

.fa-chevron-left {
    position: relative;
    font-size: 1.5rem;
    right: 20px;
    transition: all 0.1s ease-in;
}

.open {
    max-height: 30vh;
}

.fa-chevron-left.open {
    transform: rotate(-90deg);
}

.line {
    height: 1px;
    background-color: var(--purple);
    margin-bottom: 20px;
}

.html-text {
    color: orangered;
}

.css-text {
    color: rgb(0, 94, 255);
}

.js-text {
    color: rgb(255, 204, 0);
}

footer {
    position: relative;
    top: 150px;
    width: 100vw;
    background-color: var(--navbar-bacground-color);
    border-top: 2px solid var(--purple);
    padding: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 10px;
}

.footer-content a {
    font-size: 2.5rem;
    color: rgb(27, 26, 26);
    position: relative;
    top: -5px;
    right: 40px;
    transition: all 0.2s ease-in-out;
}

.footer-content a:hover {
    cursor: pointer;
    opacity: 80%;
}

.tutorial-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    column-gap: 20px;
    row-gap: 20px;
}

code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 1rem;
    color: #c0392b;
}

.code-block {
    background-color: #f4f4f4;
    border-left: 5px solid var(--purple);
    padding: 10px;
    margin-top: 10px;
    font-family: "Courier New", Courier, monospace;
}

/* Farge på kodeeksemplene */
.code-block .tag {
    color: #ee303d;
}

.class {
    color: rgb(5, 192, 5);
}

.element {
    color: #ee303d;
}

.property {
    color: rgb(33, 199, 182);
}

.value {
    color: rgb(216, 10, 216);
}

.keyword {
    color: #c678dd;
}

.string {
    color: #98c379;
}

.number {
    color: #d19a66;
}

.comment {
    color: #7f848e;
}

/* Endringer når skjærmstørrelse endres */ 

@media screen and (max-width: 1500px){
    .open {
        max-height: 45vh;
    }
    .imgs img {
        height: 100px;
    }
}

@media screen and (max-width:1100px) {
    .tutorial-content {
        grid-template-columns: 1fr;
    }
    .main-content {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .open {
        max-height: 30vh;
    }
}