:root {
    --background-color: #F1F1F1;
    --purple: #5A45FF;
    --navbar-bacground-color: #F3F0FF;
    --box-background-color: #FFFFFF;
    --link-color: rgb(49, 103, 240);
}

* {
    padding: 0;
    margin: 0;
    font-family: Source Sans Pro, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: #2c3e50;
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
    line-height: 1.6;
    scroll-behavior: smooth;
}

nav {
    height: 70px;
    width: 100%;
    background-color: var(--navbar-bacground-color);
    border-bottom: 2px solid var(--purple);
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 20px;
    position: fixed;
    top: 0;
}
.index-nav {
    height: 70px;
    width: 100%;
    background-color: var(--navbar-bacground-color);
    border-bottom: 2px solid var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
}


.burger-box {
    z-index: 100;
}

.nav-content {
    display: flex;
    column-gap: 20px;
}

.nav-button {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 150px;
    background-color: var(--background-color);
    color: var(--purple);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 4px;
    border: 2px solid var(--purple);
    transition: all 0.3s ease-in-out;
    position: relative;
    left: 20px;
}

.nav-button:hover {
    background-color: var(--purple);
    color: var(--background-color);
}


.space {
    padding: 40px;
}

nav h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px;
    column-gap: 30px;
}

.box {
    background-color: var(--box-background-color);
    min-height: 49vh;
    border-radius: 3px;
    padding: 20px;
}

p {
    font-size: 1.2rem;
}

.box a {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
}

.box a:hover {
    text-decoration: underline;
}

.center-imgs {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.imgs img {
    height: 150px;
    width: auto;
    transition: all 0.4s ease-in-out;
}

img:hover {
    cursor: pointer;
    transform: scale(1.08);
}

#info-box-container {
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.info-box {
    background-color: var(--navbar-bacground-color);
    border: 1px solid var(--purple);
    border-radius: 3px;
    opacity: 85%;
    padding-top: 15px;
    padding: 20px;
    max-height: 40px;
    overflow-y: hidden;
    transition: all 0.4s ease-in-out;
}

.info-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
    top: -10px;
}

.info-box:hover {
    cursor: pointer;
}

.fa-chevron-left {
    position: relative;
    font-size: 1.5rem;
    right: 20px;
    transition: all 0.1s ease-in;
}

.open {
    max-height: 30vh;
}

.fa-chevron-left.open {
    transform: rotate(-90deg);
}

.line {
    height: 1px;
    background-color: var(--purple);
    margin-bottom: 20px;
}

.html-text {
    color: orangered;
}

.css-text {
    color: rgb(0, 94, 255);
}

.js-text {
    color: rgb(255, 204, 0);
}

#wave {
    position: relative;
    bottom: -170px;
}

footer {
    position: relative;
    top: 150px;
    width: 100vw;
    max-width: 100%;
    background-color: var(--box-background-color);
    padding: 20px;
    overflow-x: hidden;
}

.footer-line {
    height: 1px;
    background-color: var(--purple);
    margin-top: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 10px;
    padding-bottom: 20px;
}

.footer-content h3 {
    margin-bottom: 10px;
}

.footer-icons a {
    font-size: 2.5rem;
    color: rgb(27, 26, 26);
    right: 40px;
    transition: all 0.2s ease-in-out;
}

.footer-resources {
    display: flex;
    flex-direction: column;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
}

.footer-links {
    position: relative;
    right: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

footer a {
    text-decoration: none;
}

.footer-link:hover {
    color: var(--link-color);
}

.footer-content a:hover {
    cursor: pointer;
    opacity: 80%;
}

.tutorial-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    column-gap: 20px;
    row-gap: 20px;
}

code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 1rem;
    color: #c0392b;
}

.code-block {
    background-color: #f4f4f4;
    border-left: 5px solid var(--purple);
    padding: 10px;
    margin-top: 10px;
    font-family: "Courier New", Courier, monospace;
}

/* Farge på kodeeksemplene */
.code-block .tag {
    color: #ee303d;
}

.class {
    color: rgb(5, 192, 5);
}

.element {
    color: #ee303d;
}

.property {
    color: rgb(33, 199, 182);
}

.value {
    color: rgb(216, 10, 216);
}

.keyword {
    color: #c678dd;
}

.string {
    color: #98c379;
}

.number {
    color: #d19a66;
}

.comment {
    color: #7f848e;
}

.nav-burger-container {
    display: none;
    ;
}

.burger {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: relative;
    right: 30px;
}

.burger div {
    height: 4px;
    background-color: var(--purple);
    width: 35px;
    border-radius: 5px;
}

/* Endringer når skjærmstørrelse endres */

@media screen and (max-width: 1600px) {
    .open {
        max-height: 60vh;
    }

    .imgs img {
        height: 100px;
    }
}

@media screen and (max-width:1100px) {
    .nav-burger-container {
        width: 100%;
        display: flex;
        height: 70px;
        background-color: var(--navbar-bacground-color);
        border-bottom: 2px solid var(--purple);
        justify-content: right;
        align-items: center;
        position: fixed;
        z-index: 2;
    }

    .burger-box :hover {
        cursor: pointer;

    }

    nav {
        justify-content: center;
        height: 250px;
        transform: translateY(-80%);
        transition: all 0.5s ease-in-out;
    }

    .active {
        transform: translateY(28%);
    }

    .nav-content {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .nav-button {
        left: 0px;
    }

    .tutorial-content {
        grid-template-columns: 1fr;
    }

    .main-content {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .open {
        max-height: 50vh;
    }
}


@media screen and (max-width: 800px) {
    footer {
        overflow-x: hidden;
    }

    #wave {
        display: none;
    }

    footer {
        text-align: center;
    }

    .footer-links {
        top: 50px;
        right: 0;
        grid-template-columns: 1fr;
        row-gap: 20px;
        text-align: center;
        margin-bottom: 30px;
    }

    .footer-content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .info-box {
        max-height: 20px;
    }

    .open {
        max-height: 70vh;
    }

    .info-box p {
        font-size: 1rem;
    }

    .info-box-header {
        font-size: 0.8rem;
    }

    .imgs {
        display: none;
    }

    .main-content {
        margin: 10px;
    }
}

.burger div {
    transition: all 0.3s ease-in-out;
    position: relative;
}
.burger.open .line1 {
    transform: translateY(210%) rotate(45deg);
}
.burger.open .line2 {
    opacity: 0;
}
.burger.open .line3 {
    transform: translateY(-210%) rotate(-45deg);
    bottom: 50%;
}